<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <img src={{bookCover}} class="img-fluid w-100 mb-3 img-thumbnail shadow-sm rounded-0">
    <h2 class="h4">{{book_title}}</h2>
    <p class="small text-muted font-italic">{{author}}</p>
    <a href="/dashboard/edit/{{id}}"><button class="s-primary is-pulled-right mt-3 mb-3 btn btn-outline-success">Edit Book</button></a>
</div>