<div class="col-lg-3 col-md-3 grid-item mb-4 text-align-left">
    <a href="#"><img class="" src="" alt=""></a>
    <h2 class="h4">{{book_title}}</h2>
    <p class="small text-muted font-italic">{{author}}</p>
</div>