<!DOCTYPE html>
<html lang-"en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Just Read It!</title>
        <!-- bootstrap links -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <!-- masonry grid script for profile page -->
        <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" async></script>
        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    </head>
    <body>
        <header >
            <div class ="container-fluid text-center">
                <h1>Just Read It!</h1>
            </div>
        
            <nav class="text-center">
                <span><a class="nav-link active" href="/">Home</a></span>
                {{#if logged_in}}
                <a class="nav-link active" href="/profile">Your Books</a>
                <a class="nav-link active" href="/profile/findBooks">Find Books Near You!</a>
                {{!-- <a class="nav-link active" href="/profile/post">Add a new book</a> --}}
                <button id="logout" class="btn-no-style">Logout</button>
                {{else}}
                <a class="nav-link active" href="/login">Login</a>
                <a class="nav-link active" href="/signup">Sign Up!</a>
                {{/if}}
            </nav>
        </header>
        <main>
            <div class="container-fluid text-center">
                {{!-- <img src="/assets/output-onlinegiftools.gif" alt="Book/E-reader animation" class="img-thumbnail"> --}}
                <div>
                    {{{body}}}
                </div>
            </div>
        </main>
        <footer>

        </footer>
        {{#if logged_in}}
        <script src="/js/logout.js"></script>
        {{/if}}
    </body>
</html>