<section class="pb-5">
    <div class="container">
        {{#if books.length}}
        <section id="yourBooks">
            <h2 class="pt-2">See what other people are reading</h2>
            {{!-- start grid --}}
            <div class="row mb-5" data-masonry='{"percentPosition": true }'>
                {{#each books as |book|}}
                {{> book-info book}}
                {{/each}}
            </div>
         </section>
         {{else}}
          <h4 class="pb-4 has-text-centered is-bold">There are no Books to view at this moment</h4>
         {{/if}}
    </div>
</section>
