<section class="book-post">
    <a href="/profile"></a>
    <div class="column">
        <h2>Add your Books</h2>
        <form class="new-book-form">
            <div class="mb-3">
                <label for="book-title" class="form-label">Book Title:</label>
                <input type="text" id="book-title" name="book-title">
            </div>
            <div>
                <label for="book-author" class="form-label">Book Author:</label>
                <input type="text" id="book-author" name="book-author">
            </div>
            <button type="submit" class="is-primary is-pulled-right mt-3 mb-3 btn btn-outline-primary">Click to Add your Book!</button>
        </form>
    </div>
</section>
<script src="/js/addBook.js"></script> 

