<section class="book-post">
    <a href="/profile"></a>
    <div class="column">
        <h2 class="pt-3" style="font-family: 'Rowdies', cursive; color: #344e41;">Add your Books</h2>
        <form class="new-book-form">
            <div class="mt-5 mb-3">
                <label id="book-title-input" for="book-title" class="form-label me-4 fw-bolder">Book Title:</label>
                <input type="text" id="book-title" name="book-title">
            </div>
            <div>
                <label id="book-author-input"  for="book-author" class="form-label me-2 fw-bolder">Book Author:</label>
                <input type="text" id="book-author" name="book-author">
            </div>
            <button type="submit" class="is-primary is-pulled-right m-5 btn btn-outline-primary">Click to Add your Book!</button>
        </form>
    </div>
</section>
<script src="/js/addBook.js"></script> 
