<section class="pb-5">
    <div class="container text-center">
        <!-- Masonry grid -->
        <div class="gallery-wrapper">
            <!-- Grid sizer -->
            <div class="grid-sizer col-lg-3 col-md-3"></div>
            <!-- Grid item -->
            {{#if books.length}}
            <section id="yourBooks">
                <h2>Your Books</h2>
                {{#each books as |book|}}
                {{> book-info book}}
                {{book_title}}   
                {{author}}   
                <a href="/dashboard/edit/{{id}}"><button class="s-primary is-pulled-right mt-3 mb-3 btn btn-outline-success">Edit Book</button></a>
                {{/each}}
            </section>
            {{else}}
                <h4 class="pb-4 has-text-centered is-bold">There are no Books to view at this moment</h4>
                <a href="/dashboard/post"><button type="submit" class="s-primary is-pulled-right mt-3 mb-3 btn btn-outline-success">Click Add Books</button></a>
            {{/if}}
        </div>
    </div>
</section>
<script src="/public/js/masonryGrid.js"></script>