:root {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

header{
    background: linear-gradient(02deg, rgb(210, 109, 26), white); 
    color:white;
    padding: 3rem;
}

h1 {
    font-size: 4rem;
    
}

main {
    background-color: antiquewhite;
}
.img-thumbnail {
    margin:3em;
}

#loginbtn {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}

#loginbtn:hover {
    text-decoration: underline;
   
}

#logoutbtn {

    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    
}


#logoutbtn:hover {
    text-decoration: underline;
   
}

#signupbtn:hover{
    text-decoration: underline;
}

nav > a {
    color: white;
    padding: 0 1em 0 1em;
    text-decoration: none;
} /* changed */

nav > a:hover {
    color: #ccd5ae;
    transition: 0.3s;
}

#yourBooks > h2 {
    color: #3a5a40
}

#map { 
    height: 700px;
    width: auto;
 }

#mainHeader {
    font-family: 'Gloock', serif;
    color: black;
}

.signup-form {
    margin-bottom: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#signUpSubmitBtn:hover {
    background-color: #4CAF50;
    transition: 0.3s;
}