:root {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.nav-header{
    background:rgb(199, 118, 51); 
    color:white;
    padding: 3rem;
}

h1 {
    font-size: 4rem;
    
}

main {
    background-color: antiquewhite;
}

.img-thumbnail {
    margin: 3em;
}

#page-title {
    font-size:6rem;
    color:aliceblue;
}

#loginbtn {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}

#loginbtn:hover {
    text-decoration: underline;
   
}

#logoutbtn {

    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    
}


#logoutbtn:hover {
    text-decoration: underline;
   
}

#signupbtn:hover{
    text-decoration: underline;
}

nav > a {
    color: white;
    padding: 0 1em 0 1em;
    text-decoration: none;

} 

nav > a:hover {
    color: #ccd5ae;
    transition: 0.3s;
    text-decoration: underline;
}

#yourBooks > h2 {
    color: #3a5a40
}

#map { 
    height: 700px;
    width: auto;
 }

#mainHeader {

    color: #3a5a40
}

#header-img {
    height: 200px;
    width: 200px;
    position:relative;
    margin-top:-8rem;
}

.signup-form {
    margin-bottom: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#signUpSubmitBtn:hover {
    background-color: #4CAF50;
    transition: 0.3s;
}


.login-form {
    margin-bottom: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
 }
 
 
 #loginSubmitBtn:hover {
    background-color: #CCD5AE;
    transition: 0.3s;
 }
